.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 22rem));
  gap: 2.6rem;
  margin: 0 2rem;
  padding: 0 2rem 2rem 2rem;
  overflow-y: auto;
  max-height: 75vh;
}

.card {
  height: 28rem;
  max-width: 22rem;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 1rem 1rem;
  color: var(--white);
}

.card-name-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  min-height: 3.8rem;
}

.card-name {
  overflow-wrap: break-word;
  width: 100%;
}

.input-name {
  width: 100%;
  border: none;
  padding: 0.4rem 0 0.4rem 0.4rem;
  border-radius: 0.4rem;
}

.input-name::placeholder {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
}

.input-name:focus {
  outline: none;
  font-style: italic;
}

.input-name:focus::placeholder {
  color: transparent;
}

.input-name__category {
  background-color: var(--category-light-accent);
  color: var(--category-edit-color);
  border-bottom: 2px solid var(--category-main-color);
}

.input-name__category::placeholder {
  color: var(--category-placeholder-accent);
}

.input-name__category {
  background-color: var(--category-light-accent);
  color: var(--category-edit-color);
  border-bottom: 2px solid var(--category-main-color);
}

.input-name__category::placeholder {
  color: var(--category-placeholder-accent);
}

.input-name__wishlist {
  background-color: var(--wishlists-light-accent);
  color: var(--wishlists-edit-color);
  border-bottom: 2px solid var(--wishlists-main-color);
}

.input-name__wishlist::placeholder {
  color: var(--wishlists-placeholder-accent);
}

.card-icon {
  font-size: 3.2rem;
  color: var(--white);
  cursor: pointer;
}

.card-icon.delete-icon {
  align-self: start;
  justify-self: end;
}

.card-icon.edit-icon {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.card__add {
  background-color: transparent;
  border-width: 2px;
  border-style: dashed;
}

.card-icon.add-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: inherit;
  border: inherit;
}

.card__add-category {
  border: 2px dashed var(--category-main-color);
  color: var(--category-main-color);
}

.card__category {
  background-color: var(--category-main-color);
  box-shadow: 0px 4px 9px 1px #b7639936;
}

.card__add-wishlist {
  border: 2px dashed var(--wishlists-main-color);
  color: var(--wishlists-main-color);
}

.card__wishlist {
  background-color: var(--wishlists-main-color);
  box-shadow: 0px 4px 9px 1px #684d8136;
}
