* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--base-color);
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*TEXT*/
.regular {
  font-size: 1.6rem;
}

.regular-medium {
  font-size: 2rem;
}

.medium {
  font-size: 2.4rem;
}

.large {
  font-size: 3.4rem;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.upper {
  text-transform: uppercase;
}

/* INPUTS */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}
