@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@400;500;600;700&display=swap');

:root {
  --white: #fff;
  --base-color: #fdf4fe;
  --dark-bg: #241235;
  --logo-right-pink: #f089e5;
  --logo-left-pink: #ff7595;
  --category-main-color: #f56285;
  --category-light-accent: #fde0e7;
  --category-placeholder-accent: #f7819d;
  --category-edit-color: #ac455d;

  --wishlists-main-color: #ae62f5;
  --wishlists-light-accent: #eedefc;
  --wishlists-placeholder-accent: #be81f7;
  --wishlists-edit-color: #7a45ac;

  --wishlist-main-color: #6e4791;
  --wishlist-input-color: #5c3482;
  --wishlist-light-accent: #f9defd;
  --wishlist-placeholder-accent: #a891bd;

  --breadcrumb-hover-accent: #a861d5;

  --pink-gradient: linear-gradient(
    145deg,
    var(--logo-left-pink),
    var(--logo-right-pink)
  );
}
